*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}


:root{
    --bg-color:#080808;
    --second-bg-color:#131313;
    --text-color:white;
    --main-color:#00ffee;
}
html{
    font-size: 60%;
    overflow-x: hidden;
}
body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.066);
    padding: 4rem 12% 4rem; /*learn*/
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;

}

.logo{
    font-weight: 800;
    font-size: 3rem;
    cursor: pointer;
    color: var(--text-color);
    transition: 0.3s ease;
  


}

.logo:hover{
    transform: scale(1.1);
}

.logo span{
    color: var(--main-color);
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a{
font-size: 1.7rem;
color: var(--text-color);
margin-left: 4rem;
font-weight: 500;
transition: 0.3s ease;

/* border-bottom: 3px solid transparent; */
}

.navbar a:hover,
.navbar a:active{
    border-bottom: 3px solid var(--main-color);

    color: var(--main-color);
}
.navbar .active{
    border-bottom: 3px solid var(--main-color);

    color: var(--main-color);
}

#menu-icon{
    display: none;
    color: var(--main-color);
    font-size: 3.6rem;
}

section{
    min-height:60vh;
    padding: 10rem 12% 10rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}
.home-content{
    display: flex;
    align-items: baseline;/*learn*/
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-top: 3rem;
    
}
#custom-cursor {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--main-color);
    pointer-events: none; /* Ensure cursor doesn't block interactions */
    transform: translate(-50%, -50%);
    transition: all 0.1s ease-out; /* Smooth transition */
    z-index: 2;

}
span{
    color: var(--main-color);
}
.home-content h3{
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1{
    font-size: 6rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-img{
    border-radius: 50%;
}
.home-img img{
    position: relative;
    top: 3rem;
    /* width: 32vw;
    height: 50vh; */
    width: 40vw;
    /* height: 80vh; */
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
    /* clip-path: circle(50%); */
}
.home-img img:hover{
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color),  0 0 50px var(--main-color);


}
.home-content p{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.8;
    max-width: 1000px;
}
.home-content p span{
    color: var(--main-color);
}

.social-icons a{
    display: inline-flex;/* learn*/
    justify-content: center;
    align-items:center ;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    font-size: 2.5rem;
    transition: 0.3s ease-in-out;

}
.social-icons a:hover{
    transform: scale(1.3)translateY(-5px);
    color: var(--text-color);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    z-index: 5;
}
.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    font-size: 1.6rem;
    color: black;
    border-radius: 4rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    border: 2px solid transparent;
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}
.btn-group a:nth-of-type(2){
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}
.btn-group a:nth-of-type(2):hover{
    color: black;
    background-color: var(--main-color);
    box-shadow:0 0 25px var(--main-color) ;
}
.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 300px;
    padding-top: 10px;
    position: relative;
    display: inline-block;
  }
  
  .typed-text {
    display: inline-block;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black;
  
    animation: typing 4s steps(20) infinite, blink-caret 0.75s step-end infinite;
  }
  
  @keyframes typing {
    0% {
      width: 0;
    }
    100% {
      width: 18ch;
    }
  }
  
  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }

  .experience{
    background: var(--second-bg-color);

    color: black;
  }
  .experience h2{
    margin-bottom: 5rem;
    color: white;
  }
  .experience-container{
    /* display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 40px; */

  }
  .experience-box{
    background-color: var(--main-color);
    height: 450px;
    /* min-width: 300px; */
    overflow-y: auto;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    box-shadow: 0 0 25px var(--main-color);
  }
  .experience-box:hover{
    background: white;
    color: black;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
    box-shadow: 0 0 50px var(--main-color);

  }
  .experience-box .experience-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: left;
    max-height: 400px;
    align-items: baseline;
    padding: 5rem;
    /* align-items: center; */
  }
 
  .experience-info h3{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.5;
  }
  .experience-info h4{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
    font-style: italic;


  }
  .experience-info ul{
    font-size: 1.6rem;
    font-weight: bold;
    max-height: 300px;
    line-height: 1.5rem;
    
    margin: auto;
    padding: 15px 0px ;
    gap:10px;

  }
 
 
 
  
 

   .heading {
    font-size: 8rem;
    text-align: center;
    margin: 2rem 0 5rem;
  }
 
  
  .education {
    padding: 100px 15px;
    background: var(--second-bg-color)

  }

  
  .timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  
  .timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
  }
  
  .timeline-item {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */

  }
   
  
  .timeline-item:last-child {
    margin-bottom: 0;
  }
  
  .timeline-item:nth-child(odd) {
    /* justify-content: flex-start; */
    padding-right: calc(50% + 30px);
    text-align: right;
  }
  
  .timeline-item:nth-child(even) {
    /* justify-content: flex-end; */
    padding-left: calc(50% + 30px);
  }
  
  .timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    border-radius: 50%;
  }
  
  .timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
  }
  
  .timeline-content {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 20px 40px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
  }
  .timeline-content h3{
    font-size: 26px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
  }
  .timeline-content h4{
    font-size: 22px;
    font-style: italic;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
  }
  .timeline-content p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
  }

  ::-webkit-scrollbar{
    width: 15px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
  }
  ::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
  }
  

  .skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(bg-color);
  }
  .skills .skills-row{
    display: flex;
    flex-wrap: wrap;
    gap: 8rem;
    padding-bottom: 4rem;

  
  }
  .skills-row .skills-column{
    flex: 1;
  }
  .skills-column .title{
    font-size: 2.5rem;
    padding: 0 0 2rem;
  }

  .skills-box .skills-content{
    position: relative;
    border: 0.2rem solid var(--main-color);
    border-radius: 0.6rem;
    padding: 0.5rem 1.5rem;
    box-shadow: 0 0 10px var(--main-color);
    transition: 0.3s ease-in-out;


  }
  .skills-box .skills-content:hover{
    box-shadow: 0 0 25px var(--main-color);
    transform: scale(1.1);
  }
  .skills-content .progress{
    padding: 1rem 0;
  }
  .skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
  }
  .skills-content .progress h3 span{
    color: var(--text-color);
  }
  .skills-content .progress .bar{
    height: 2.5rem;
    border-radius: 0.6rem;
    border: 0.2rem solid var(--main-color);
    padding: 0.5rem;
    margin: 1rem 0;
  }

  
.contact {
    padding: 7rem 12% 0rem;
    text-align: center;
    background-color: var(bg-color);
}

.contact .heading {
    font-size: 6rem;
    margin-bottom: 4rem;
    color: var(--text-color);
}

.contact-description {
    font-size: 2rem;
    color: var(--text-color);
    margin-bottom: 4rem;
    line-height: 2;

    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 4rem;
    flex-wrap: wrap;
}

.contact-link {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.6rem;
    color: var(--text-color);
    text-decoration: none;
    transition: 0.3s ease;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    border: 2px solid var(--main-color);
    box-shadow: 0 0 15px var(--main-color);
    background-color: transparent;
}

.contact-link:hover,
.contact-link:active {
    transform: scale(1.05);
    background-color: var(--main-color);
    color: var(--bg-color);
    box-shadow: 0 0 25px var(--main-color);
}

.contact-link i {
    font-size: 2rem;
    color: var(--main-color);
}

.contact-link div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contact-method {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--text-color);
}

.contact-details {
    font-size: 1.2rem;
    color: var(--text-color);
    font-weight: 600;
}

.contact-link:hover i {
    color: var(--bg-color);
}


